<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.moxuan.system.mapper.SysLogMapper">
    <resultMap id="SysLog" type="net.moxuan.system.entity.SysLog">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="log_type" property="logType" jdbcType="TINYINT"/>
        <result column="operate_type" property="operateType" jdbcType="TINYINT"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="method" property="method" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="request_url" property="requestUrl" jdbcType="VARCHAR"/>
        <result column="request_param" property="requestParam" jdbcType="VARCHAR"/>
        <result column="request_type" property="requestType" jdbcType="VARCHAR"/>
        <result column="elapsed_time" property="elapsedTime" jdbcType="BIGINT"/>
        <result column="is_deleted" property="deleted" jdbcType="TINYINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="save" parameterType="net.moxuan.system.entity.SysLog">
        insert into sys_log
        (
         id,
         log_type,
         operate_type,
         login_name,
         name,
         ip,
         method,
         content,
         request_url,
         request_param,
         request_type,
         elapsed_time,
         is_deleted,
         gmt_create,
         gmt_modified
        )
        values (
          #{id},
          #{logType},
          #{operateType},
          #{loginName},
          #{name},
          #{ip},
          #{method},
          #{content},
          #{requestUrl},
          #{requestParam},
          #{requestType},
          #{elapsedTime},
          #{deleted},
          #{gmtCreate},
          #{gmtModified}
        )
    </insert>

</mapper>